[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
matplotlib = "*"
scipy = "*"
scikit-rf = "*"
pandas = "*"
pillow = "*"
astropy = "*"
healpy = "*"
h5py = "*"
xarray = "*"
setuptools = "*"
wheel = "*"
tqdm = "*"
highz-exp = {path = ".", editable = true}
jupyter = "*"
ipykernel = "*"
rich-argparse = "*"
highz-filterbank = {editable = true, git = "https://github.com/alhosani-abdulla/highz-filterbank.git"}
plotly = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"
